<!DOCTYPE html>
<html>
<head>
<title>Welcome in the configuration panel</title>
</head>
<body>
<h1>Configuration panel</h1>
    {{ username }} <a href="http://127.0.0.1:3087/logout">logout</a>
    
<h5>White list</h5>
<textarea rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
</textarea>
</body>
</html>