<div class="container">
	<form method="POST" action"">
	<div class="row">
        <div class="col-md-12">
			<h1 class="page-head-line">Configuration panel</h1>
		</div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <div class="">
            	<h5>
                	Welcome to your Dreagle dashboard!
                </h5>
            </div>
        </div>

    </div>
	
	<div class="col-md-3">
		<h2>Logs File</h2>
	 	<a class="btn btn-default" href="{{conf.get_logs_link}}">Download logs file</a>

		<h2>White List</h2>

		<textarea class="form-control" rows="3">{{conf.system_status}}{{#each conf.get_whitelist}}
		{{this}}{{/each}}</textarea>	

	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<h2>System Status</h2>
			<input type="checkbox" name="system_status" class="switch" {{#if conf.get_system_status }} checked {{/if}} >

		<h2>Push it away</h2>
			<input type="checkbox" name="push_it_away" class="switch" {{#if conf.get_push_it_away }} checked {{/if}} >
			
		<h2>Custom landing</h2>  
			<input type="checkbox" name="push_it_away" class="switch" {{#if conf.get_custom_landing }} checked {{/if}} > 

	</div>
	<div class="clearfix"></div>
	<button type="submit" class="btn btn-lg">Submit</button>
	 
	</form>
</container>