
<h1>Configuration panel</h1>
 
<h2>Logs File</h2>
 	<a href="{{conf.get_logs_link}}">Download logs file</a>

<h2>System Status</h2>
 {{conf.system_status}}

{% for wish in conf.get_whitelist %}
BANANA <br />
{% endfor %}

<h2></h2>