
<h1>Welcome in Dreagle {{variable}} </h1>
<form action="/loginPost" method="POST">
Username: <input type="text" name="username">  <br>
Password: <input type="password" name="password"> <br>
<input type="submit" value="Log in">
</form>
